{% load static %}
<html>
    <head>
        <title>PASSWORD MANAGER</title>
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script>
            $(document).ready(function (){
                setTimeout(hidebox, 5000);
                function hidebox(){
                    $('#user').fadeOut()
                }
            });
        </script>
    </head>
    <body>
        <p id="user">{{success}}{{no_pass}}</p>

        <button><a href="/showAddPass/">add password</a></button>
        <button><a href="/showp/">get password</a></button>
        <button><a href="/logout/">Logout</a></button>
        
        <table border="1">
            <thead>
                <tr>
                    <th>Sitename</th>
                    <th>Password</th>
                </tr>
            </thead>
            <tbody>
                {% for key, value in data.items %}
                <tr>
                    <td>{{key}}</td>
                    <td>{{value}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>